.product-create-attribut-header{background:#F1F7FD;padding:5px;border:solid 1px #DDDDDD;}
.product-create-attribut-header-name{line-height:210%;}
.product-create-attribut-body{padding:5px;border:solid 1px #DDDDDD;border-top:0;}
.product-create-attribut-container{display:none;}
.chzn-select{width:100%;}
.product-text-title{font-size:24px;line-height:100%;margin-bottom:20px;}
.product-container{}
.product-table-attribut-container{padding-right:20px;background:url("data:image/gif;base64,R0lGODlhAgADAIABANHQzP///yH5BAEAAAEALAAAAAACAAMAAAIDRH4FADs=") repeat-x left 15px;}
.product-table-attribut-container span{padding-right:2px;background:#FFFFFF;color:#6E6D69;}
.product-table-attribut-td{width:300px;}
.product-table-characteristics td{vertical-align:top;}
.product-bull{color:#5FA459;padding:0 7px;}
.product-img-preview{padding-left:2px;height:36px;width:36px;display:table-cell;vertical-align:middle;cursor:pointer;opacity:0.5;filter:alpha(opacity=50);border:2px solid #FFFFFF;border-top:0;border-right:0;border-bottom:0;}
.product-img-preview img{width:36px;display:block;}
.product-img-preview-active{opacity:1 !important;filter:alpha(opacity=100);border-color:#66CFFF !important;;}
.product-img-preview:hover{opacity:1;filter:alpha(opacity=100);}
.product-img-container ul li{list-style:none;margin-bottom:4px;}
.product-img-container ul{margin:0;padding:0;float:left;display:block;}
.product-img-main{margin-left:30px;float:left;}
#product_img_main img{display:block;}
.product-img-main-no-photo img,
.product-img-main,
#product_img_main img{width:375px;}
.product-price{float:right;text-align:center;}
.product-price span{float:right;font-size:24px;}
.product-buy-href{}
.attributes-category-additionally-title{font-size:18px;padding-bottom:10px;}

.catalog-product-table tr{vertical-align:top;margin-bottom:30px;display:block;}
.catalog-product-href-img{display:block;float:left;margin-right:20px;}
.catalog-product-href-img img{width:150px;display:block;}
.catalog-product-href-title{line-height:100%;font-size:15px;color:#275EC2;}
.catalog-product-href-title:hover{color:#3F8AD7;}
.catalog-product-price{font-weight:bold;}
.catalog-product-buy-href{margin-left:20px;font-weight:normal !important;}

.catalog-product-features{line-height:120%;}
.catalog-product-features a{color:#6E6D69;font-size:10px;text-decoration:none;}
.catalog-product-features a:hover{text-decoration:underline;}
.catalog-product-bull-features{color:#5FA459;padding:0 5px;font-size:10px;}

.catalog-product-characteristics{}
.catalog-product-bull-characteristics{color:#5FA459;padding:0 6px;}

.filter-bull-features{color:#BCBCB4 !important;padding:0;font-size:11px;}
.block-filter-lover{line-height:180%;}
.block-filter-lover-href-active{padding:4px 6px !important;border-radius:4px;background:#6E6D69;color:#ffffff !important;}
.block-filter-lover-href-active:hover{text-decoration:none !important;}
.block-filter-lover a{padding:4px 0;color:#6E6D69;text-decoration:none;font-size:11px;}
.block-filter-lover a:hover{text-decoration:underline;}

.block-filter-pros-attribut{line-height:100%;}
.block-filter-pros-attribut li{padding-bottom:10px;}
.block-filter-pros{font-size:11px;}
.block-filter-pros-attribut-href{margin-bottom:3px;float:left;display:block;color:#6E6D69;text-decoration:none;border-bottom:1px dotted #6E6D69;}
.block-filter-pros-attribut-href:hover{color:#6E6D69;}
.block-filter-pros-properties{display:none;margin:0 0 0 20px;line-height:100%;}
.block-filter-pros-properties li{display:block;float:left;margin:0 6px 0 0;padding:1px 0 0 0;}
.block-filter-pros-properties-href-active{text-decoration:none !important;padding:4px 6px !important;border-radius:4px;background:#6E6D69;color:#ffffff !important;}
.block-filter-pros-properties-href{display:block;padding:4px 0;color:#6E6D69;border:0;text-decoration:underline;}
.block-filter-pros-properties-href:hover{text-decoration:none;color:#6E6D69;}
.block-filter-pros-attributes-category{font-size:14px;color:#000000;margin-bottom:4px;}

.catalog-main-parent-li{margin-bottom:5px;}
.catalog-main-parent-href{font-size:18px;color:#000000 !important;}
.catalog-main-parent-href:hover{font-size:18px;color:#666666 !important;}
.catalog-main-child-ul{margin-left:20px;margin-bottom:10px;}
.catalog-main-child-li{display:inline;margin-right:10px;}

.admin-select-multiple{width:80%;}

.cart thead th{text-align:left;font-weight:normal;padding:0 0 8px 0;}
.cart td{vertical-align:top;}
.cart-action{width:60px;padding:44px 18px 0 0;}
.cart-action-href{color:#DA4242;}
.cart-product{width:350px;padding:15px 0 16px 0;}
.cart-product-photo{float:left;margin-right:10px;}
.cart-product-photo-content{display:table-cell;vertical-align:middle;width:80px;height:80px;}
.cart-product-photo-content img{max-width:80px;max-height:80px;}
.cart-product-name{overflow:hidden;padding-right:45px;}
.cart-product-name-href{color:#275EC2;font-size:15px;line-height:100%;}
.cart-product-name-href:hover{color:#3F8AD7;}
.cart-count{padding:26px 35px 16px 0;}
.cart-price{padding-top:28px;font-size:15px;font-weight:bold;}
.cart-count-input{width:60px;text-align:right;}
.cart-final{font-size:15px;text-align:right;padding-bottom:30px;}
.cart-final-price{font-weight:bold;}

.order-title{font-size:22px;margin-bottom:30px;}

.order-address td{vertical-align:top;}
.order-address-label{width:150px;margin-right:20px;}

.order-delivery{margin-bottom:30px;}
.order-delivery th{font-weight:normal;text-align:left;}
.order-delivery td{padding-top:10px;}
.order-delivery-product-name-href{color:#275EC2;font-size:15px;}
.order-delivery-product-name-href:hover{color:#3F8AD7;}
.order-delivery-product-price,
.order-delivery-price{font-size:15px;font-weight:bold;}
.order-delivery-label{margin:0;}
.order-delivery-comment{margin-left:20px;font-size:11px;}
.order-delivert-final{font-size:15px;text-align:right;padding-top:30px !important;}
.order-delivert-final-cost{font-weight:bold;}

.order-pay-systems{margin-bottom:30px;}

.mb-5{margin-bottom:5px;}
.pt-15{padding-top:15px;}
.pt-20{padding-top:20px;}
.pt-30{padding-top:30px !important;}
.pr-10{padding-right:10px !important;}
.pr-30{padding-right:30px;}
.pb-30{padding-bottom:30px;}
.mr-5{margin-right:5px !important;}
.mr-10{margin-right:10px !important;}
.mr-30{margin-right:30px;}
.float-right{float:right;}
.float-left{float:left;}